@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');

@import 'normalize';
@import 'mixin';
@import 'slick';

* {
	box-sizing: border-box;
}


html {
	font: 10px/1.6 'Poppins', sans-serif;
	height: 100%;
}

body {
    font-size: 1.6rem;
    color: #333;
   	height: 100%;
    margin: 0;
    background-image:url(../img/bg.jpg);
    @include backGround;
    
}

.container{
	max-width:1200px;
	width:90%;
	margin: 0 auto;

}

.head{
	&__title{
	text-transform: uppercase;
	margin: 0 0 15px 0;
	text-align: center;
	font-size: 6rem;
	font-weight: bold;
	line-height: 1.2;
	}
	&__subtitle{
	display: inline-block;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 600;
	}
}

.gallery{
	margin-top:100px;
}

.arrow{
	position: absolute;
	top:50%;
	transform:translate(-50%, 0);
	padding:25px;
	border-radius:50%;
	border:2px solid #000;
	background-color:transparent;
	font-size: 0;
	outline:none;
	background-image: url(../img/arrow.svg);
	background-position:center;
	background-repeat: no-repeat;
	background-size:50%;
	&--prev{
	z-index: 1;
	left:-3%;
	transform:rotate(180deg);	
	}
	&--next{
	left:101%;
	}
}	

.slide{
	display: inline-block;
	background-color: #32eaad;
	z-index: 0;
	width:400px;
	text-transform: uppercase;
	position: relative;
	.img__wrap{
		width: 100%;
	    padding-top: 100%;
	    position: relative;
	    overflow: hidden;
	}
	&__img{
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    min-width: 100%;
	    min-height: 100%;
	    @include hover{
	    	opacity:.2;
	    }
	}
	&__titles{
		position: absolute;
		top:70%;
		color:#fff;
		padding:0 15px;
		letter-spacing: 1.5px;
		z-index: -1;
	}
	&__title{
		text-align: left;
		font-size: 2.8rem;
		line-height: 1.2;
		}
	&__author{
		font-size: 1.2rem;
		&::before{
			content:'By';
			padding-right:5px
		}
	}
}

.slick-slide{
	margin:0 10px;
}